<div>
<br>
 <br>
  <br>
   <br>
    
<div class="flex justify-center">
  <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-sky-100 shadow-lg">
<div class='w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg'><%= image_tag "productimage.png", width: 300%></div>
<div class="p-6 flex flex-col justify-start">
  <div class='text-gray-900 text-xl font-medium mb-2'><%= @product.title %></div>
    <p class='text-pink-700 text-base mb-4'><%= @product.description %></p>
    <span class='text-center text-gray-700 text-base mt-1'><%= @product.price %>$</span>

    <div><%= link_to t('.view_more_products', username: @product.user.username), user_path(@product.user.username) %>
    <% if @product.favorite %>
    <%= link_to 'ðŸ’”', favorite_path(@product.id), data: {
    turbo_method: :delete
    } %>
    <% else %>
    <%= link_to 'â¤ï¸', favorites_path(product_id: @product.id), data: {
    turbo_method: :post
    } %>
    <% end %>
    </div>
    </div>
    </div>
    </div>
    <br>
     <br>
      <br>
       <br>
        
    </div>

<%= link_to t('.edit'), edit_product_path(@product) if @product.owner? %>

<%= link_to t('.delete'), product_path(@product), 
  class:"m-2 text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2", data: {
  turbo_method: :delete,
  turbo_confirm: t('common.confirm')
} if @product.owner? %>

</div>





